body{
   margin: 0;
   padding: 0; 
}

.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.tombol{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-sizing: 0 5% 15% -5% #00000070;
    overflow: hidden;
    position: relative;
    color: #2980b9;
}

.tombol i{
    transition: 0.2s linear;
    font-size: 26px;
    line-height: 90px;
}

.tombol:hover i{
   transform: scale(1.3);
    color: #f1f1f1;
}

.tombol::before{
   content: "";
   position: absolute;
   width: 120px;
   height: 120px;
   left: -110%;
   top: 90%;
   transform: rotate(45deg);
   background: #3498db;
}

.tombol:hover:before{
    left: -10%;
    top: -10%;
    animation:aaa 0.7s 1;
 }


 

